nav {
    margin-top: 10px;
  }
  
  .navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  