.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


header {
  height: 30%;
  background-color: #f4f4f4;
}


img.logo {
  max-width: 200px; 
  height: 100px;   

}

footer {
  padding: 10px;
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 2em;
}
